<div class="row">
  <div class="col-md-12 text-center"> 
    <h3 class="text-danger">Dashboard</h3>
  </div>
</div>
<br>
<div class="row text-center">
  <div class="col-md-2"> 

  </div>
  <div class="col-md-3 well"> 
    <h4>Total Inventory <br> {{allitem.length}}</h4>
  </div>
  <div class="col-md-1"> 

  </div>
  <div class="col-md-3 well"> 
      <h4>Total Employee  <br> {{allemp.length}}</h4>
  </div>
  <div class="col-md-1"> 

  </div>
  <div class="col-md-2"> 

  </div>
  </div>

  <div class="row text-center">
      <div class="col-md-2"> 
    
      </div>
      <div class="col-md-3 well"> 
        <h4>Total Distributed Items <br> {{allditem}}</h4>
      </div>
      <div class="col-md-1"> 
    
      </div>
      <div class="col-md-3 well"> 
          <h4>Total Avaiable Items <br> {{allitem.length - allditem}}</h4>
      </div>
      <div class="col-md-1"> 
    
      </div>
      <div class="col-md-2"> 
    
      </div>
      </div>